@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arial";
  font-weight: 400;
  src: url("../assets/font/Arial_Black.ttf");
}

@layer components {
  .answer-shadow {
    box-shadow: 6px 6px 10px 4px rgba(0, 0, 0, 0.1);
  }

  .question-shadow {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.08);
  }

  .suggestion-shadow {
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
  }

  .suggestion-active-shadow {
    box-shadow: inset 4px 4px 4px 2px rgba(0, 0, 0, 0.1);
  }

  .button-copy-shadow {
    box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.1);
  }

  .button-icon-background {
    background: linear-gradient(135deg, #EBEBEB 0%, #F8FBFF 100%);
  }

  .button-icon-shadow {
    box-shadow: 4px 4px 10px rgba(44, 46, 55, 0.1)
  }

  .button-logout-shadow {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

#__next {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.transBtn:hover {
  top: -2px !important;
  /* left:-2px !important; */

  transition: 0.1s;
}

textarea:focus {
  outline: none !important;
  border: none !important;
  --tw-ring-shadow: none !important;
}

input:focus {
  outline: none !important;
  border: none !important;
  --tw-ring-shadow: none !important;
}

::-webkit-scrollbar {
  display: none
}

.database-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ant-drawer-content-wrapper{
  left: 20px !important;
  top:20px !important;
  bottom:20px !important;

}

.ant-drawer-content {
  border-radius: 20px !important;
}